* {
  box-sizing: border-box;
}
.body1 {
  font-family:Times, serif;
  max-width: 960px;
}

.header {
    color:white;
    background-color:black;
    text-align: center;
    padding: 20px;
    font-Size: 1.5em;
    border-bottom: 2px solid red;
    border-left:2px solid rgb(20, 20, 20);
    border-radius: 5px 5px 0px 0px ;
    background-image: linear-gradient(to top, rgba(70, 70, 70, 1), rgb(20, 20, 20))
}

.footer {
  color: white;
  background-color: #333;
  text-align: center;
  padding: 2px;
  font-size:1.2em;
  border-top: 2px solid red;
  border-radius: 0px 0px 5px 5px ;
  background-image: linear-gradient(to top, rgb(20, 20, 20), rgba(70, 70, 70, 1))
}

.fas {
  color:rgb(255, 255, 255);
  text-shadow: 4px 4px #000000;

}

.head1 {
  float:center;
  /*position:absolute;*/
  font-size:60px;color:rgb(255, 255, 255);
  text-shadow: 4px 4px #000000;
  animation: mymove 1s;
}

.head2 {
  text-shadow: 4px 4px #000000;
}

.footer1 {
  float:center;
  /*position:absolute;*/
  text-shadow: 4px 4px #000000;
}

.txt1 {
 display:block;
 float:right;
 padding: 1em;
 color:rgb(63, 63, 63);
}

.txt2 {
  float:center;
  font-size: 2em;
  padding:1em;
  border:1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:rgb(63, 63, 63);
  border-radius: 5px 5px 5px 5px ;
 }

.nav {
    overflow: hidden;
    background-color: #333;
}

nav a {
    float: right;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 1.5em;
}

.column {
  float:left;
  position: relative;
  background: rgb(253, 253, 253);
  font-size:large;

  color:rgb(63, 63, 63);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 padding:1em;
}

.column1 {
  float:left;
  position: relative;
  background: rgb(253, 253, 253);
  color:rgb(63, 63, 63);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 padding:1em;
}

.column11 {
  float:left;
  position: relative;
  background: rgb(253, 253, 253);
  text-align: center;
  border: 1px solid rgb(190, 190, 190);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 padding:1em;
 color:rgb(63, 63, 63);
 border-radius: 5px 5px 5px 5px ;
}

.column01 {
  float:center;
  position: relative;
  background: rgb(253, 253, 253);
  font-size:large;
  text-align: center;
  color:rgb(63, 63, 63);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 padding:1em;
}

.column.left {
  float: left;
  display: table-cell;
  padding: 16px;
  width: 29%;
  border: 1px solid rgb(190, 190, 190);
  margin:3px;
  text-align: center;
  color:rgb(63, 63, 63);
  border-radius: 5px 5px 5px 5px ;
  height: 40em; 
  overflow: hidden;
  text-overflow: clip; 
}

.column.middle {
  float: left;
  display: table-cell;
  padding: 16px;
  width: 39%;
  border: 1px solid rgb(190, 190, 190);
  margin:3px;
  text-align: center;
  color:rgb(63, 63, 63);
  border-radius: 5px 5px 5px 5px ;
  height: 40em; 
  overflow: hidden;
  text-overflow: clip; 
}

.column.right {
  float: left;
  display: table-cell;
  padding: 16px;
  width: 29%;
  border: 1px solid rgb(190, 190, 190);
  margin:3px;
  text-align: center;
  color:rgb(63, 63, 63);
  border-radius: 5px 5px 5px 5px ;
  height: 40em; 
  overflow: hidden;
  text-overflow: clip; 
}

.column.half1 {
  float: left;
  display: table-cell;
  padding: 16px;
  width: 66%;
  border: 1px solid rgb(190, 190, 190);
  margin:2px;
  border-radius: 5px 5px 5px 5px ;
  height: 40em; 
  overflow: hidden;
  text-overflow: clip; 

}

.column.half2 {
  float: left;
  display: table-cell;
  padding: 16px;
  width: 33%;
  border: 1px solid rgb(190, 190, 190);
  margin:2px;
  border-radius: 5px 5px 5px 5px;
  height: 40em; 
  overflow: hidden;
  text-overflow: clip; 
}

.column.half3 {
  float: left;
  display: table-cell;
  padding: 16px;
  width: 33%;
  border: 1px solid rgb(190, 190, 190);
  margin:2px;
  text-align: left;
  border-radius: 5px 5px 5px 5px;
  height: 40em; 
  overflow: hidden;
  text-overflow: clip; 

}
.column5 {
  width: 50%;
  float:left;
  padding:16px;
  text-align:center;
  display: table-cell;
  border: 1px solid rgb(190, 190, 190);
  position:relative;
  color:rgb(63, 63, 63);
  border-radius: 5px 5px 5px 5px ;
}

.column6 {
  width: 100%;
  padding:50px;
  text-align:center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  border: 1px solid rgb(190, 190, 190);
  color:rgb(63, 63, 63);
  border-radius: 5px 5px 5px 5px ;
}



/*Media Query*/

@media screen and (max-width: 600px) {
  .column.left {
    width: 100%;
  }

  .column.right {
    width: 100%;
  }

  .column.middle {
    width: 100%;
  }

  .column.half1 {
    width: 100%;
  }

  .column.half2 {
    width: 100%;
  }

  .column.half3 {
    width: 100%;
  }


  .column5 {
    width:100%;
  }


  .head2 {
    /*display:none;*/
    font-size:80%;

  }

  .column6 {
    width:100%
  }

  .modal {
    width:100%
  }

  .fas {
    font-size:80%;
  }


@keyframes mymove {
  50% {transform: rotate(360deg);}

}

}


/* Accounts Sign In Page */

/*
.forms {
    background-color: #f2f2f2;
    padding: 20px;
}
*/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   
}

input[type=submit]{
    width: 100%;
    background-color: #4CAF50;
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #45a049;
}

/*Travel Page*/

.gallery1 {
  float:left;
}

div.gallery {
    float: left;
    margin: 20px;
    border: 1px solid #ccc;
    width: 250px;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
}

div.gallery hover {
    border: 1px solid #777;

}

div.gallery img {
    width: 100%;
    height: 13em;
    
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*menu information */

    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  max-width: 1500px;
}

li.dropdown {
  display: inline-block;
  text-shadow: 2px 2px #000000;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-shadow: 2px 2px #ffffff;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Slideshow Home Page

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  padding-top: px;
  max-width: 750px;
  position: relative;
  margin: auto;
 font-size:.8em;
  
  
  
}

/* Hide the images by default */
.mySlides {
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #ffffff;
  font-size: 2.5em;
  text-shadow: 4px 4px #070000;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.player1 {
  width: 100%;
}

/*Slideshow home page(above)*/

.row:after {
  content: "";
  display: table;
  clear: both;
}


/*ABOUT PAGE LOGIN*/

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  Position:relative;
  
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

